# hacker rank MYSQL basic-join challenges


### asian populations

1. 
```mysql
SELECT SUM(CITY.POPULATION) FROM CITY 
JOIN COUNTRY 
ON CITY.COUNTRYCODE = COUNTRY.CODE
WHERE COUNTRY.CONTINENT = 'ASIA'
```

### african cities

2.
```mysql
SELECT CITY.NAME FROM CITY
JOIN COUNTRY
ON CITY.COUNTRYCODE = COUNTRY.CODE
WHERE CONTINENT = 'Africa'
```
### average populations of each continent

3.
```mysql
SELECT COUNTRY.CONTINENT, ROUND(AVG(CITY.POPULATION)-0.5) FROM CITY
JOIN COUNTRY
ON COUNTRY.CODE = CITY.COUNTRYCODE
GROUP BY COUNTRY.CONTINENT
```
### the report

4.
```mysql
SELECT (CASE GRADES.GRADE >= 8 WHEN TRUE THEN STUDENTS.NAME ELSE NULL END), GRADES.GRADE, STUDENTS.MARKS FROM STUDENTS
INNER JOIN GRADES
ON STUDENTS.MARKS
BETWEEN MIN_MARK AND MAX_MARK 
ORDER BY GRADES.GRADE DESC, STUDENTS.NAME, STUDENTS.MARKS
```